<div class="card-pokemon card w-75">
    <a routerLink="/list">
        <div class="card-body">
            <h2 class="menu-name">Pokemon</h2>
        </div>
    </a>
</div>

<!-- <li><a  routerLink="/details">Detalhes</a></li> -->

<div class="card-items card w-50">
    <div class="card-body">
        <h2 class="menu-name">Items</h2>
    </div>
</div>

<div class="card-moves card w-50">
    <div class="card-body">
        <h2 class="menu-name">Moves</h2>
    </div>
</div>

<div class="card-types card w-50">
    <div class="card-body">
        <h2 class="menu-name">Types</h2>
    </div>
</div>


<!--   <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div> -->